* {
  box-sizing: border-box;
}

@media screen and (min-width: 300px) {

  /*** typography ***/
  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
  }

  h2 {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
  }

  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
  }

  p {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 18px;
  }

  a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: lighter;
  }

  /*** structure ***/

  /*** hero & navigation ***/

  .container {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }

  header {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .logo {
    margin: auto;
    padding-left: 20px;
    width: 100px;
  }

  .navigation {
    display: flex;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .Contact {
    padding-left: 50px;
    padding-right: 25px;
  }

  /** body structure **/

    #HeroColumnLeft {
      width: 100%;
    }

    #HeroColumnRight {
      width: 100%;
    }

    h1, h2, h3 {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    p {
        padding-bottom: 10px;
    }

    .heroHeading {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .heroParagraph {
      padding-bottom: 50px;
    }

    button {
      height: 65px;
      width: 260px;
    }

    button a {
      color: white;
    }

    .darkgreen {
      background-color: rgba(0,51,51,100);
    }

    .lightgreen {
      background-color: rgba(6,86,86,100);
    }

    .CaseStudyImage {
      display: flex;
      flex-direction: row;
      width: 65%;
    }

    .linesRight, .linesLeft {
      width: 100%;
    }

    #columnOne {
      width: 100%;
      margin: auto;
    }

    #columnOne p {
      padding-bottom: 10px;
    }

    #columnTwo {
      width: 100%;
      margin: auto;
    }

    #columnTwo p {
      padding-bottom: 10px;
    }

    #columnThree {
      width: 100%;
      margin: auto;
    }

    #columnThree p {
      padding-bottom: 10px;
    }

    .centered {
      text-align: center;
    }

    .userStories {
      width: 100%;
    }

    .icon {
      width: 50px;
      margin: auto;
    }

    .userFlows {
      width: 100%;
      padding-top: 10px;
    }

    .systemizeLogo, .systemizeButtons, .systemizeColors {
      width: 65%;
      margin: auto;
    }

    .typographyOne {
      width: 100%;
      margin: auto;
      padding-bottom: 10px;
    }

    .typographyTwo {
      width: 100%;
      margin: auto;
    }

    #columnLeft {
      width: 100%;
    }

    #columnRight {
      width: 100%;
    }

    .wireframes {
      width: 100%;
    }


/** footer **/
    footer {
      padding-bottom: 35px;
    }

    .CityScape {
      padding-top: 50px;
      width: 100%;
    }

    .GetInTouch {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-bottom: 25px;
    }

    .SocialIcons {
      display: flex;
      justify-content: space-evenly;
      height: 25px;
      margin-top: 10px;
    }

    .PinterestBlack {
      width: 25px;
    }

  @media screen and (min-width: 800px) {

    /*** typography ***/
    h1 {
      font-family: 'Lato', sans-serif;
      font-size: 36px;
      font-weight: 100;
      line-height: 38px;
    }

    h2 {
      font-family: 'Montserrat', 'Open Sans', sans-serif;
      font-size: 30px;
      font-weight: bold;
      line-height: 32px;
    }

    h3 {
      font-family: 'Lato', sans-serif;
      font-size: 34px;
      font-weight: normal;
      line-height: 36px;
    }

    p {
      font-family: 'Montserrat', 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 100;
      line-height: 20px;
    }

    a {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: lighter;
    }

    /*** structure ***/
    /*** hero & navigation ***/

    .container {
      margin-left: 10px;
      margin-right: 10px;
      width: 100%;
    }

    header {
      align-items: center;
      display: flex;
      width: 100%;
    }

    .logo {
      margin: auto;
      padding-left: 55px;
      width: 175px;
    }

    .navigation {
      display: flex;
    }

    a {
      color: black;
      text-decoration: none;
    }

    .Contact {
      padding-left: 50px;
      padding-right: 25px;
    }


/** body structure **/

  #HeroColumnLeft {
    width: 50%;
    float: left;
  }

  #HeroColumnRight {
    width: 50%;
    float: right;
  }

  h1, h2, h3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 20px;
  }

  .heroHeading {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .heroParagraph {
    padding-bottom: 75px;
  }

  button {
    height: 65px;
    width: 260px;
  }

  button a {
    color: white;
  }

  .darkgreen {
    background-color: rgba(0,51,51,100);
  }

  .lightgreen {
    background-color: rgba(6,86,86,100);
  }

  .CaseStudyImage {
    width: 65%;
    display: flex;
    flex-direction: row;
  }

  .linesRight {
    padding-left: 100px;
  }

  .linesLeft {
    padding-right: 100px;
  }

  #columnOne {
    width: 30%;
    float: left;
  }

  #columnTwo {
    width: 30%;
    margin: auto;
  }

  #columnThree {
    width: 30%;
    float: right;
  }

  .row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
  }

  .problem {
    padding-right: 50px;
  }

  .solution {
    text-align: right;
    padding-left: 50px;
  }

  .centered {
    text-align: center;
  }

  .userStories {
    width: 100%;
  }

  .icon {
    width: 50px;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 10px;
  }

  .userFlows {
    width: 100%;
    padding-top: 10px;
  }

  .systemizeLogo, .systemizeButtons, .systemizeColors {
    width: 75%;
  }

  .typographyOne {
    width: 75%;
    margin: auto;
    padding-bottom: 10px;
  }

  .typographyTwo {
    width: 100%;
  }

  #columnLeft {
    width: 50%;
    float: left;
  }

  #columnRight {
    width: 50%;
    float: right;
  }

  .wireframes {
    width: 100%;
  }



  /** footer **/
    footer {
      padding-bottom: 35px;
    }

    .CityScape {
      padding-top: 50px;
      width: 100%;
    }

    .GetInTouch {
      align-items: center;
      display: flex;
      padding-bottom: 25px;
    }

    .SocialIcons {
      display: flex;
      justify-content: space-evenly;
      height: 25px;
      margin-top: 10px;
    }

    .PinterestBlack {
      width: 25px;
    }
  }
