* {
  box-sizing: border-box;
}

@media screen and (min-width: 300px) {

  /*** typography ***/
  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
  }

  h2 {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
  }

  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
  }

  p {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
  }

  a {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: lighter;
  }

  /*** structure ***/
  /*** hero & navigation ***/

  .container {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  header {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .logo {
    margin: auto;
    padding-left: 20px;
    width: 100px;
  }

  .navigation {
    display: flex;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .Contact {
    padding-left: 50px;
    padding-right: 25px;
  }

  .hero {
    padding-top: 50px;
  }

  .herotext {
    padding-left: 85px;
    padding-right: 25px;
  }

  .CityScape {
    padding-top: 25px;
    width: 100%;
  }

/*** projects on home page ***/

#columnLeft {
  align-items: center;
  width: 100%;
}

#columnRight {
  align-items: center;
  width: 100%;
}

.PortfolioImg {
  padding-top: 25px;
  width: 75%;
}

.description {
  padding-bottom: 35px;
  padding-top: 20px;
}

button {
  height: 55px;
  width: 200px
}

button a {
   color: white;
}

.buttonRight {
  display: flex;
  flex-direction: column;
}

  .buttonLeft {
    display: flex;
    flex-direction: column;
  }

  .darkgreen {
    background-color: rgba(0,51,51,100);
  }

  .lightgreen {
    background-color: rgba(6,86,86,100);
  }

  .CityRight {
    width: 100%;
  }

  .CityLeft {
    width: 100%;
  }

  /** footer **/

  footer {
    padding-bottom: 35px;
  }

  .GetInTouch {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  .SocialIcons {
    display: flex;
    height: 25px;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .PinterestBlack {
    width: 25px;
  }


@media screen and (min-width: 800px) {

  /*** typography ***/
  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 100;
    line-height: 40px;
  }

  h2 {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
  }

  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: normal;
    line-height: 38px;
  }

  p {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 22px;
  }

  a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: lighter;
  }

  /*** structure ***/
  /*** hero & navigation ***/

  .container {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  header {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .logo {
    margin: auto;
    padding-left: 55px;
    width: 175px;
  }

  .navigation {
    display: flex;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .Contact {
    padding-left: 50px;
    padding-right: 25px;
  }

  .hero {
    padding-top: 100px;
  }

  .herotext {
    padding-left: 100px;
    padding-right: 100px;
  }

  .CityScape {
    padding-top: 50px;
    width: 100%;
  }

  /*** projects on home page ***/

  #columnLeft {
    float: left;
    width: 50%;
  }

  #columnRight {
    float: right;
    width: 50%;
  }

  .description {
    padding-bottom: 100px;
    padding-top: 20px;
  }

  button {
    height: 65px;
    width: 260px;
  }

  button a {
    color: white;
  }

  .buttonRight {
    display: flex;
    flex-direction: column;
  }

  .buttonLeft {
    display: flex;
    flex-direction: column;
  }

  .darkgreen {
    background-color: rgba(0,51,51,100);
  }

  .lightgreen {
    background-color: rgba(6,86,86,100);
  }

  .PortfolioImg {
    width: 75%;
  }

  .CityRight {
    float: right;
    width: 75%;
  }

  .CityLeft {
    width: 75%;
  }

/** footer **/
  footer {
    padding-bottom: 35px;
  }

  .GetInTouch {
    align-items: center;
    display: flex;
    padding-bottom: 25px;
  }

  .SocialIcons {
    display: flex;
    justify-content: space-evenly;
    height: 25px;
    margin-top: 10px;
  }
}
